OPENAI_API_KEY={{ lookup('bitwarden.secrets.lookup', TR_OPENAI_KEY) }}
API_KEY={{ TR_API_KEY }}
MONGO_DB=truthradar
MONGO_URL=mongodb://{{ lookup('bitwarden.secrets.lookup', MONGO_USER) }}:{{ lookup('bitwarden.secrets.lookup', MONGO_PASS) }}@mongodb:27017/
MODEL_API=https://truthradar.{{ FRONTEND_DOMAIN }}:8443
MODEL_API_KEY={{ TR_API_KEY }}