SERVER_KEY={{ lookup('bitwarden.secrets.lookup', TL_SERVER_KEY) }}
OPENAI_KEY={{ lookup('bitwarden.secrets.lookup', TL_OPENAI_KEY) }}
MONGO_DB=travel
MONGO_URL=mongodb://{{ lookup('bitwarden.secrets.lookup', MONGO_USER) }}:{{ lookup('bitwarden.secrets.lookup', MONGO_PASS) }}@mongodb:27017/