GF_SERVER_DOMAIN="dash.{{ BACKEND_DOMAIN }}"
GF_SERVER_ROOT_URL="https://dash.{{ BACKEND_DOMAIN }}/"
GF_SECURITY_ADMIN_USER={{ GF_USER }}
GF_SECURITY_ADMIN_PASSWORD={{ lookup('bitwarden.secrets.lookup', "43dc6e1e-9187-4972-a123-b446002aa21d") }}
GF_DEFAULT_INSTANCE_NAME={{ ansible_hostname }}
GF_WELCOME_ENABLED="false"
GF_FEATURE_TOGGLES_ENABLE=publicDashboards
GF_ANALYTICS_ENABLED="false"
GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/etc/grafana/provisioning/dashboards/Overview.json
DISCORD_ALERT_WEBHOOK_URL="https://discord.com/api/webhooks/{{ lookup('bitwarden.secrets.lookup', ERROR_WEBHOOK_ID) }}/{{ lookup('bitwarden.secrets.lookup', ERROR_WEBHOOK_TOKEN) }}/slack"
DISCORD_LOGIN_WEBHOOK_URL="https://discord.com/api/webhooks/{{ lookup('bitwarden.secrets.lookup', ERROR_WEBHOOK_ID) }}/{{ lookup('bitwarden.secrets.lookup', ERROR_WEBHOOK_TOKEN) }}/slack"