COLLECTIONS="crowdsecurity/traefik crowdsecurity/linux-lpe crowdsecurity/linux crowdsecurity/iptables crowdsecurity/sshd crowdsecurity/appsec-crs crowdsecurity/appsec-virtual-patching"
CROWDSEC_WEBHOOK=https://discord.com/api/webhooks/{{ lookup('bitwarden.secrets.lookup', INFO_WEBHOOK_ID) }}/{{ lookup('bitwarden.secrets.lookup', INFO_WEBHOOK_TOKEN) }}
BOUNCER_KEY_IPTABLES={{ lookup('bitwarden.secrets.lookup', CROWDSEC_BOUNCER_KEY) }}