GF_SERVER_DOMAIN="dash.{{ lookup('bitwarden.secrets.lookup', BACKEND_DOMAIN) }}"
GF_SERVER_ROOT_URL="https://dash.{{ lookup('bitwarden.secrets.lookup', BACKEND_DOMAIN) }}/"
GF_SECURITY_ADMIN_USER={{ lookup('bitwarden.secrets.lookup', GF_USER) }}
GF_SECURITY_ADMIN_PASSWORD={{ lookup('bitwarden.secrets.lookup', "2e7e11ea-1540-4ffb-9fc3-b445017e01c3") }}
GF_DEFAULT_INSTANCE_NAME={{ ansible_hostname }}
GF_WELCOME_ENABLED="false"
GF_FEATURE_TOGGLES_ENABLE=publicDashboards
GF_ANALYTICS_ENABLED="false"
GF_DASHBOARDS_DEFAULT_HOME_DASHBOARD_PATH=/etc/grafana/provisioning/dashboards/Overview.json
DISCORD_ERROR_WEBHOOK_URL="https://discord.com/api/webhooks/{{ lookup('bitwarden.secrets.lookup', ERROR_WEBHOOK_ID) }}/{{ lookup('bitwarden.secrets.lookup', ERROR_WEBHOOK_TOKEN) }}/"
GF_NEWS_NEWS_FEED_ENABLED="false"
GRAFANA_EDITABLE: {{ GRAFANA_EDITABLE | default(false) | lower }}